//out: ../build/css/bh.css, compress: false, sourcemap: false

/*color1 = #594F4F
color2 = #547980
color3 = #45ADA8
color4 = #9DE0AD
color5 = #E5FCC2*/

color1 = #594F4F
color2 = #3B8686
color3 = #A91209
color4 = #ECF0D3
color5 = #F0F6E7
color6 = #AEF9E9

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0

html, body
  height: 100%
  overflow: hidden
  background: white
  color: color5
  @media (max-width: 767px)
    &
      font-size: 80%
  @media (max-width: 640px)
    &
      font-size: 70%

.scene
  position: relative
  width: 100%
  height: 100%
  //background-color: color1

.nav-panel
  z-index: 1000
  position: relative
  text-align: center
  ul
    list-style-type: none
    margin: 0
    padding: 15px
    overflow: hidden
    background-color: color1
    .nav-btn
      color: white
      &.active
        color: color6
      &:hover
        color: color5
        background-color: color2
    li
      text-align: center
      display: inline
      //color: white
      padding: 15px
      text-decoration: none

.page
  z-index: 2
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  &:nth-child(1)
    background-image: url("https://images.unsplash.com/photo-1454165205744-3b78555e5572?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700")
    background-position: center
  &:nth-child(2)
    .left
      background-color: color2
    .right
      background-image: url("https://images.unsplash.com/photo-1452601395039-3184bc03cb09?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5e02bfd262d6b6090294ea2cb2b660c9")
      background-position: center
  &:nth-child(3)
    .left
      background-image: url("https://images.unsplash.com/photo-1453475250267-163ff185e88e?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1525")
      background-position: center
    .right
      background-color: color3
  &:nth-child(4)
    .left
      background-color: color4
      color: color1
    .right
      background-image: url("https://images.unsplash.com/photo-1416339306562-f3d12fefd36f?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1525")
      background-position: center
  &:nth-child(5)
    .left
      background-image: url("https://images.unsplash.com/photo-1421757381940-5d269570b21c?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1525")
      background-position: center
    .right
      background-color: color5
      color: color1
  &.active
    z-index: 5
    transition: transform .7s, opacity .7s, z-index 0s .7s
    .half
      transform: translateX(0) !important
      transition: transform .7s ease-out
  &.previous
    opacity: 0.4 !important
    visibility: visible !important
    transition: transform .7s, opacity .7s, z-index 0s
  &.small
    transform: scale(0.8)
    opacity: 0
    visibility: hidden
    .half
      transform: translateX(0) !important
  for $i in (2)..(10)
    &:nth-child({$i})
      .left
        transform: translateY(-100%)
      .right
        transform: translateY(100%)


.half
  position: absolute
  top: 0
  width: 50%
  height: 100%
  background-size: cover
  transition: transform .7s ease-in
  will-change: transform
  &.left
    left: 0
  &.right
    left: 50%
  &.withText:after
    content: ""
    position: absolute
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%
    //background: rgba(0, 0, 0, 0.5)
    z-index: 10

.heading
  position: relative
  z-index: 500
  top: 40%
  font-size: 3.5rem
  //color: #fff
  text-align: center

.content
  position: absolute
  z-index: 500
  top: 20%
  padding: 40px
  font-size: 1rem

button
  position: relative
  height: 45px
  width: 150px
  margin: 10px 7px
  padding: 5px 5px
  font-weight: 700
  font-size: 15px
  letter-spacing 2px
  text-transform: uppercase
  outline: 0;
  overflow:hidden
  background: none
  z-index: 1
  cursor: pointer
  transition: ease-in 0.08s

  &.fill_1
    color:  color5
    border: 2px color5 solid
    border-radius: 4px

  &.fill_1:hover
    color: color2

  &.fill_1:before
    content: ''
    position: absolute
    background: color5
    bottom: 0
    left: 0
    right: 0
    top: 100%
    z-index: -1
    transition: top ease-in 0.09s

  &.fill_1:hover:before
    top: 0

  &.fill_2
    color:  color5
    border: 2px color5 solid
    border-radius: 4px

  &.fill_2:hover
    color: color3

  &.fill_2:before
    content: ''
    position: absolute
    background: color5
    bottom: 0
    left: 0
    right: 0
    top: 100%
    z-index: -1
    transition: top ease-in 0.09s

  &.fill_2:hover:before
    top: 0

  &.fill_3
    color:  color1
    border: 2px color1 solid
    border-radius: 4px

  &.fill_3:hover
    color: color4

  &.fill_3:before
    content: ''
    position: absolute
    background: color1
    bottom: 0
    left: 0
    right: 0
    top: 100%
    z-index: -1
    transition: top ease-in 0.09s

  &.fill_3:hover:before
    top: 0

  &.fill_4
    color:  color1
    border: 2px color1 solid
    border-radius: 4px

  &.fill_4:hover
    color: color5

  &.fill_4:before
    content: ''
    position: absolute
    background: color1
    bottom: 0
    left: 0
    right: 0
    top: 100%
    z-index: -1
    transition: top ease-in 0.09s

  &.fill_4:hover:before
    top: 0
