doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title Hi, I'm Brett
    link(rel="stylesheet", href="css/bh.css")
    script(src="js/bh.min.js")
  body
    .nav-panel
        nav
            ul
                li.nav-btn.nav-page1.active(data-target='1') Welcome
                li.nav-btn.nav-page2(data-target='2') About
                li.nav-btn.nav-page3(data-target='3') Work
                li.nav-btn.nav-page4(data-target='4') Blog
                li.nav-btn.nav-page5(data-target='5') Contact

    .scene
        .page.page-1.active
            h2.heading Looking for a Developer?


        .page.page-2
            .half.left.withText
                .content
                    p.
                     Bacon ipsum dolor amet ham fatback tenderloin, pork salami t-bone corned beef pastrami kevin turducken pork belly doner pork loin ground round andouille. Jerky pork ham, chuck leberkas beef shankle strip steak flank t-bone turkey salami tail ball tip picanha. Ham turkey biltong pork loin tenderloin leberkas pastrami jowl spare ribs beef brisket sirloin landjaeger. Pastrami sausage bresaola t-bone tail. Capicola landjaeger frankfurter shoulder bacon tri-tip jowl ribeye salami tenderloin porchetta pork loin. Beef turkey fatback jerky short loin pastrami capicola picanha hamburger shoulder shank. see
                    a(href='mailto:brett.hau@gmail.com'): button(name='contact2').fill_1 Contact me

            .half.right

        .page.page-3
            .half.left

            .half.right.withText
                .content
                    p.
                     Bacon ipsum dolor amet ham fatback tenderloin, pork salami t-bone corned beef pastrami kevin turducken pork belly doner pork loin ground round andouille. Jerky pork ham, chuck leberkas beef shankle strip steak flank t-bone turkey salami tail ball tip picanha. Ham turkey biltong pork loin tenderloin leberkas pastrami

                    a(href='mailto:brett.hau@gmail.com'): button(name='contact').fill_2 Contact me

        .page.page-4
            .half.left.withText
                .content
                    p.
                     Bacon ipsum dolor amet ham fatback tenderloin, pork salami t-bone corned beef pastrami kevin turducken pork belly doner pork loin ground round andouille. Jerky pork ham, chuck leberkas beef shankle strip steak flank t-bone turkey salami tail ball tip picanha. Ham turkey biltong pork loin tenderloin leberkas pastrami

                    a(href='http://www.google.com'): button(name='look').fill_3 Look here

            .half.right

        .page.page-5
            .half.left

            .half.right.withText
                .content
                    p.
                     Bacon ipsum dolor amet ham fatback tenderloin, pork salami t-bone corned beef pastrami kevin turducken pork belly doner pork loin ground round andouille. Jerky pork ham, chuck leberkas beef shankle strip steak flank t-bone turkey salami tail ball tip picanha. Ham turkey biltong pork loin tenderloin leberkas pastrami jowl spare ribs beef brisket sirloin landjaeger. Pastrami sausage bresaola t-bone tail. Capicola landjaeger frankfurter shoulder bacon tri-tip jowl ribeye salami tenderloin porchetta pork loin. Beef turkey fatback jerky short loin pastrami capicola picanha hamburger shoulder shank. see

                    a(href='http://www.google.com'): button(name='look2').fill_4 Look here



