doctype html
html(lang="en")
  // Page head
  include includes/head.jade
  body
    // Navigation pannel. At top of page.
    include includes/nav.jade
    // Content area
    .scene
        // Page one. Full width with heading
        include includes/page-1.jade

        // Page two. Left side text. About page.
        include includes/page-2.jade

        // Page three. Right side text. Work page.
        include includes/page-3.jade

        // Page four. Left side text. Blog page.
        include includes/page-4.jade

        // Page five. Right side text. Contact page.
        include includes/page-5.jade






