doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title Hi, I'm Brett
    link(rel="stylesheet", href="css/bh.css")
    script(src="js/bh.min.js")
  body
    .nav-panel
        nav
            ul
                li.nav-btn.nav-page1.active(data-target='1') Welcome
                li.nav-btn.nav-page2(data-target='2') About
                li.nav-btn.nav-page3(data-target='3') Work
                li.nav-btn.nav-page4(data-target='4') Blog
                li.nav-btn.nav-page5(data-target='5') Contact

    .scene
        .page.page-1.active
            h1.heading
                | Hi, I'm Brett
                br
                | Are you looking for a Developer?



        .page.page-2
            .half.left.withText
                .content
                    img(src='../assets/img/thestray_large.jpg')
                    h2 Hi there. I'm Brett
                    br
                    p.
                     I'm a front-end Developer. I love design but have always been better at code. So now I just want to make great designs work.
                    br
                    p.
                     I like to keep it simple and develop what you need to convey the message that you want to send. I know how to create code that will work across devices using the latest technologies available.
                    br
                    p.
                     Most importantly, I'm a husband and father to one little girl. Building from South Korea with an eye to moving back to Australia.


            .half.right

        .page.page-3
            .half.left

            .half.right.withText
                .content
                    p.
                     Alas. It has been a while since I was elbow deep in code. But  you can find my work history on my LinkedIn below.
                    br
                    a(href='https://linkedin.com/in/bretthau' target='_blank'): button(name='linkedin').fill_2 LinkedIn
                    br
                    br
                    p.
                     If you'd like to see more of my work, feel free to check out one or all of the following sites.
                    br
                    a(href='https://github.com/thestray' target='_blank'): button(name='github').fill_2 GitHub
                    a(href='http://codepen.io/thestray/' target='_blank'): button(name='codepen').fill_2 CodePen

        .page.page-4
            .half.left.withText
                .content
                    div(align='center')
                     p.
                      Meatloaf fatback turducken short ribs, tri-tip andouille chicken sausage rump leberkas. Beef swine turkey, venison brisket drumstick spare ribs fatback chuck pork chop. Doner salami tri-tip pastrami kevin fatback short loin ball tip. Doner tri-tip sirloin meatloaf ham hock pig salami sausage. Jowl corned beef andouille meatball pancetta ham hock chicken tenderloin picanha pig shankle turkey leberkas pork belly.
                     br
                     a(href='http://www.google.com'): button(name='look').fill_3 Look here

            .half.right

        .page.page-5
            .half.left

            .half.right.withText
                .content
                    h2 Want to talk?
                    br
                    a(href='mailto:brett.hau@gmail.com'):                     button(name='contact').fill_4 Send a message
                    br
                    br
                    p.
                     Hit me up if you want to talk about your next project or even if you just want to chat.



