doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title Hi, I'm Brett
    link(rel="stylesheet", href="css/bh.css")
    script(src="js/bh.min.js")
  body
    .nav-panel

    .scene
        .page.page-1.active

        .page.page-2

        .page.page-3

        .page.page-4

        .page.page-5


