//- includes/page-5.jade
//- Page five. Right side text. Contact page.
.page.page-5
            .half.left

            .half.right.withText
                .content
                    h2 Want to talk?
                    br
                    p.
                     Hit me up if you want to talk about your next project or even if you just want to chat.
                    br
                    div(align='center')
                     span &nbsp;
                     a(href='mailto:brett.hau@gmail.com'):                     button(name='contact').fill_4 Send a message
                    br
                    p.
                     You can also find and follow me on one of these sites if you want to know a little more about me.
                    div(align='center')
                     a(href='https://twitter.com/bretthau' target='_blank'): i.social_dark.fa.fa-twitter.fa-2x
                     a(href='https://www.instagram.com/strayinkorea/' target='_blank'): i.social_dark.fa.fa-instagram.fa-2x
                     a(href='https://www.facebook.com/thestray' target='_blank'): i.social_dark.fa.fa-facebook.fa-2x
