//- includes/page-2.jade
//- Page two. Left side text. About page.
.page.page-2
            .half.left.withText
                .content
                    img(src='img/thestray_large.jpg')
                    h2 Hi there. I'm Brett
                    br
                    p.
                     I'm a front-end Developer. I love design but have always been better at coding. So now I just want to make great designs work.
                    br
                    p.
                     I like to keep it simple and develop what you need to convey the message that you want to send. I know how to create code that will work across devices using the latest technologies available.
                    br
                    p.
                     Perhaps most importantly, I'm a husband and father of one little girl. Building from South Korea with an eye to moving back to Australia.


            .half.right
