//- includes/page-1.jade
//- Page One. Full width with heading
.page.page-1.active
            h1.heading
                | Hi, I'm Brett
                br
                | Are you looking for a Developer?
