//- includes/head.jade

head
    // So you decided to take a look under the hood? Thats okay. This site was written with Jade, Stylus and a little JQuery and Javascript. You can check out the full code at https://github.com/thestray/bretthau.com
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="I'm a front-end Developer. I love design, but have always been better at coding. This is my personal portfolio site")
    meta(name="keywords", content="Frontend, front-end, front end, dev, developer, web developer, designer, web designer, web development, html, css, full stack, javascript, framework, html5, css3")
    title Hi, I'm Brett
    link(rel="stylesheet", href="css/bh.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="js/bh.min.js")
