//- includes/nav.jade
//- Navigation pannel. At the top of the page
.nav-panel
        nav
            ul
                li.nav-btn.nav-page1.active(data-target='1') Welcome
                li.nav-btn.nav-page2(data-target='2') About
                li.nav-btn.nav-page3(data-target='3') Work
                li.nav-btn.nav-page4(data-target='4') Blog
                li.nav-btn.nav-page5(data-target='5') Contact
