//- includes/page-4.jade
//- Page four. Left side text. Blog page.
.page.page-4
    .half.left.withText
     .content
      p.
       I don't write as often as I should. but when I do you can find it at my Medium account below. I like to write about design, code, travel and life in general.
      br
      p.
       I have been an Expat living in South Korea for the last 9 or so years, so that gives me a different perspective on life.
      br
      div(align='center')
       a(href='https://medium.com/@bretthau' target='_blank'): button(name='look').fill_3 Look here
    .half.right
