//- includes/page-3.jade
//- Page three. Right side text. Work page.
.page.page-3
            .half.left

            .half.right.withText
                .content
                    p.
                     Alas. It has been a while since I was elbow deep in code. But  you can find my work history on my LinkedIn below.
                    br
                    div(align='center')
                     a(href='https://linkedin.com/in/bretthau' target='_blank'): button(name='linkedin').fill_2 LinkedIn
                    br
                    br
                    p.
                     If you'd like to see more of my work, feel free to check me out one or all of the following sites.
                    br
                    div(align='center')
                     a(href='https://github.com/thestray' target='_blank'): i.social_light.fa.fa-github.fa-3x
                     a(href='http://codepen.io/thestray/' target='_blank'): i.social_light.fa.fa-codepen.fa-3x
                     a(href='https://dribbble.com/thestray' target='_blank'): i.social_light.fa.fa-dribbble.fa-3x
